
.dynamic-input {
    margin: 0;
}

.delete-button {
    margin-left: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.name-block {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.delete-button {
    display: flex;
    align-items: center;
}
